.header {
  display: flex;
  justify-content: space-between;
  background-color: white;
  height: 30%;
}
.header_left{
    background-color: blue;
    color: white;
    width:30%;
    text-align: left;
}
.header_right{
    background-color: rgb(212, 212, 232);
    color: white;
    width:70%;
    text-align: left;
    
}
